<!-- Page Content-->
<div class="apo-page">
    <div class="container">
        <div class="apo-section apo-has-sidebar">
            <div class="row">
                <!-- Main Content Column-->
                <main class="col-sm-8">
                    <div class="apo-section-thin">
                        <div class="apo-section apo-medium">
                            <!-- Article-->
                            <article class="apo-entry apo-single">
                                <!-- Article Media-->
                                <div class="apo-entry-media"><img src="images/img-142.jpg" alt="" /></div>
                                <!-- End of Article Media-->
                                <!-- Article Content-->
                                <div class="apo-entry-content-wrap">
                                    <header class="apo-entry-header">
                                        <h2 class="apo-entry-title">Get Ready Fast For Fall Leaf Viewing Trips</h2>
                                        <ul class="apo-entry-meta">
                                            <li>Author: <a href="#">Apolo</a></li>
                                            <li>Published in: <a href="#">24 December, 2016</a></li>
                                            <li>Categories: <a href="#">Travel</a>, <a href="#">Lifestyle</a></li>
                                        </ul>
                                    </header>
                                    <div class="apo-entry-content">
                                        <p>Whether its a driving tour, a cruise or a bus, leaf viewing is a great way to
                                            spend a fall vacation. It’s also big tour dream of that hot apple cider on a
                                            crisp afternoon do a quick check list before you leave home so you’re ready
                                            for any type of weather. </p>
                                        <p>Start preparing by taking out your favorite sweater. Think “chilly.” Pack one
                                            that you can use outdoors as well as under a rain jacket or sitting inside
                                            by a warm fire. It’s also time to get back into socks after a summer in
                                            sandals.</p>
                                        <div class="wp-caption"><img src="images/img-143.jpg" alt="" /></div>
                                        <p>Layering clothes is paramount for fall trips outdoors. The sudden sunny burst
                                            in the afternoon versus breath chilling mornings can surprise anyone. </p>
                                        <p>While we think of blue cloudless skies on an autumn afternoon the chance of
                                            rain is pretty high so pack a rain suit. A jacket with a hood and pants are
                                            best. When outside all day in the wet and damp its important to keep dry all
                                            over for comfort and a complete rainsuit is the answer. </p>
                                        <blockquote>
                                            <p>Better to see something once, than to hear about it a thousand times</p>
                                            <footer>Asian Proverb</footer>
                                        </blockquote>
                                        <p>Make sure to add a small folding umbrella to your bag as well. Raincoats are
                                            fine but unless its full length with a zip in liner, rainy weather can start
                                            to feel downright uncomfortable by mid afternoon. </p>
                                        <p>Pack a warm hat and gloves. Comfortable shoes are also a must and if they
                                            also happen to be waterproof its a big plus.</p>
                                        <div class="wp-caption"><img src="images/img-144.jpg" alt="" /></div>
                                        <p>Your camera gear needs to be in good working order so check it at home before
                                            you leave. Take extra batteries and memory cards. Film can be bought along
                                            the road if you want to travel light. Double check you camera bag and make
                                            sure it’s moisture proof. If at all possible avoid taking a brand new camera
                                            since anything untried can miss these.</p>
                                        <p>As long as you have the right gear you can travel anywhere. </p>
                                    </div>
                                    <footer class="apo-entry-footer">
                                        <div class="row apo-table-row-md">
                                            <div class="col-md-6">
                                                <div class="apo-inline-block">
                                                    <div class="apo-named-element"><span
                                                            class="apo-named-element-caption">Tags: </span>
                                                        <div class="apo-named-element-container">
                                                            <ul class="apo-entry-tags">
                                                                <li><a href="#">Travel</a></li>
                                                                <li><a href="#">Autumn</a></li>
                                                                <li><a href="#">Leaf</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="apo-inline-block">
                                                    <div class="apo-named-element"><span
                                                            class="apo-named-element-caption">Share On:</span>
                                                        <div class="apo-named-element-container">
                                                            <!-- Social Networks-->
                                                            <ul class="apo-social-networks">
                                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                                </li>
                                                            </ul>
                                                            <!-- End Social Networks-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                                <!-- End of Article Content-->
                            </article>
                            <!-- End Article-->
                        </div>
                        <hr />
                        <!-- start of comment system -->
                        <div class="apo-section apo-medium">
                            <h2 class="apo-section-title apo-style-2">Comments</h2>
                            <ol class="comments-list">
                                <li class="comment depth-1 parent">
                                    <div class="comment-body">
                                        <div class="comment-author vcard"><img src="images/avatar-01.jpg" alt=""
                                                class="avatar" />
                                            <cite class="fn">Jeremiah Sandoval</cite>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.</p><a href="#"
                                            class="reply">Reply</a>
                                    </div>
                                </li>
                                <li class="comment depth-1 parent">
                                    <div class="comment-body">
                                        <div class="comment-author vcard"><img src="images/avatar-02.jpg" alt=""
                                                class="avatar" />
                                            <cite class="fn">Mabel Berry</cite>
                                        </div>
                                        <p>Excepteur sint occaecat cupidatat non proident.</p><a href="#"
                                            class="reply">Reply </a>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!-- end of commetn system  -->
                        <!-- start of comment form  -->
                        <div class="apo-section apo-medium">
                            <h2 class="apo-section-title apo-style-2">Leave a reply</h2>
                            <form>
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Your Name *" required="required" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="Email Address *" required="required" />
                                        </div>
                                    </li>
                                    <li>
                                        <textarea placeholder="Message *" rows="7"></textarea>
                                    </li>
                                    <li class="apo-align-center">
                                        <button type="submit" class="apo-btn apo-btn-rectangle">Post Comment</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- end of comment form  -->
                    </div>
                </main>
                <!-- End Main Content-->
            </div>
        </div>
    </div>
</div>