<div class="apo-page">
    <div class="container">
        <!-- Page Header-->
        <div class="apo-page-header apo-style-2">
            <div class="apo-page-header-column apo-align-left">
                <h1 class="apo-page-title">Blog 2 Columns With Sidebar</h1>
                <nav>
                    <ul class="apo-breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li>Blog 2 Columns With Sidebar</li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Page Header-->
        <div class="apo-section apo-has-sidebar">
            <div class="row">
                <!-- Main Content Column-->
                <main class="col-sm-8">
                    <!-- Isotope-->
                    <div data-isotope-layout="grid" class="apo-isotope apo-cols-2 apo-entries-container apo-style-3">
                        <div class="grid-sizer"></div>
                        <div class="apo-item apo-travel">
                            <!-- Article-->
                            <article class="apo-entry">
                                <div class="apo-entry-inner">
                                    <div class="apo-entry-media"><a href="#"><img src="images/img-27.jpg" alt="" /></a>
                                    </div>
                                    <div class="apo-entry-content-wrap">
                                        <div class="apo-aligner-outer">
                                            <div class="apo-aligner-inner">
                                                <header class="apo-entry-header">
                                                    <ul class="apo-entry-categories">
                                                        <li><a href="#">Travel</a></li>
                                                    </ul>
                                                    <h2 class="apo-entry-title"><a href="#">Tremblant In Canada</a></h2>
                                                </header>
                                                <footer class="apo-entry-footer">
                                                    <time datetime="2016-12-24" class="apo-entry-publish-date">24
                                                        December, 2016</time>
                                                </footer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- End Article-->
                        </div>

                    </div>
                    <!-- End Isotope-->
                    <div class="apo-page-controls">
                        <!-- Pagination-->
                        <nav>
                            <ul class="apo-pagination">
                                <li class="nv-current"><span class="page-numbers current">1</span></li>
                                <li><a href="#" class="page-numbers">2</a></li>
                                <li><span class="page-numbers dots">...</span></li>
                                <li><a href="#" class="page-numbers">5</a></li>
                            </ul>
                        </nav>
                        <!-- End Pagination-->
                    </div>
                </main>
                <!-- End Main Content Column-->
                <!-- Sidebar-->
                <aside id="sidebar" class="apo-sidebar col-sm-4">
                    <div class="apo-widget-area">
                        <!-- Widget-->
                        <div class="apo-widget">
                            <form class="apo-oneline-form">
                                <input type="text" name="s" placeholder="Search" />
                                <button type="submit"><i class="icon icon-magnifier"></i></button>
                            </form>
                        </div>
                        <!-- End Widget-->
                        <!-- Widget-->
                        <section class="apo-widget widget_categories">
                            <h2 class="apo-widget-title">Categories</h2>
                            <ul>
                                <li class="cat-item"><a href="#">Beauty</a></li>
                                <li class="cat-item"><a href="#">Cooking</a></li>
                                <li class="cat-item"><a href="#">Motivation</a></li>
                                <li class="cat-item"><a href="#">Philosophy</a></li>
                                <li class="cat-item"><a href="#">Travel</a></li>
                            </ul>
                        </section>
                        <!-- End Widget-->


                    </div>
                </aside>
                <!-- End Sidebar-->
            </div>
        </div>
    </div>
</div>