{% block page-nav-path %}
<li><a href="#">post base</a></li>
<li>next post</li>

{% endblock page-nav-path %}


{% block sidebar %}

<section class="apo-widget apo-widget-popular-entries">
    <h2 class="apo-widget-title">Popular Posts</h2>
    <div class="apo-entries-container">
        <div class="apo-item">
            <article class="apo-entry">
                <header class="apo-entry-header">
                    <ul class="apo-entry-categories">
                        <li><a href="#">Cooking</a></li>
                    </ul>
                    <h2 class="apo-entry-title"><a href="#">The Wonderful Tools Of Cooking</a>
                    </h2>
                </header>
                <footer class="apo-entry-footer">
                    <time datetime="2017-12-24" class="apo-entry-publish-date">24 December,
                        2016</time>
                </footer>
            </article>
        </div>
        <div class="apo-item">
            <article class="apo-entry">
                <header class="apo-entry-header">
                    <ul class="apo-entry-categories">
                        <li><a href="#">Philosophy</a></li>
                    </ul>
                    <h2 class="apo-entry-title"><a href="#">A Brief History Of Creation</a></h2>
                </header>
                <footer class="apo-entry-footer">
                    <time datetime="2017-12-24" class="apo-entry-publish-date">24 December,
                        2016</time>
                </footer>
            </article>
        </div>
        <div class="apo-item">
            <article class="apo-entry">
                <header class="apo-entry-header">
                    <ul class="apo-entry-categories">
                        <li><a href="#">Philosophy</a></li>
                    </ul>
                    <h2 class="apo-entry-title"><a href="#">Selecting The Right Hotel</a></h2>
                </header>
                <footer class="apo-entry-footer">
                    <time datetime="2017-12-24" class="apo-entry-publish-date">24 December,
                        2016</time>
                </footer>
            </article>
        </div>
    </div>
</section>

{% endblock sidebar %}