{% block career_page %}

<div class="apo-experience-list apo-style-2">
    <article class="apo-experience-list-item">
        <header class="apo-experience-list-item-header"><em class="apo-experience-list-item-period">August 2014
                &mdash; <span>Apple
                    Inc</span></em>
            <h2 class="apo-experience-list-item-title">Product Designer &amp; Photographer</h2>
        </header>
        <div class="apo-experience-list-item-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
    </article>
    <article class="apo-experience-list-item">
        <header class="apo-experience-list-item-header"><em class="apo-experience-list-item-period">November 2015
                &mdash;
                <span>Google</span></em>
            <h2 class="apo-experience-list-item-title">Images Manager</h2>
        </header>
        <div class="apo-experience-list-item-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
    </article>
</div>
{% endblock career_page %}