{% extends 'blog/base.html' %}

{% block blogposts %}
{% for post in posts%}
{% if forloop.first or forloop.counter0|divisibleby:2 %}
<div class="apo-item apo-motivation">

    {% endif %}
    <!-- THESE ARE THE ARTICLES/BLOGPOSTS -->
    <!-- Article-->
    <article class="apo-entry">
        <div class="apo-entry-media">
        </div>
        <div class="apo-entry-content-wrap">
            <div class="apo-aligner-outer">
                <div class="apo-aligner-inner apo-same-height">
                    <header class="apo-entry-header">
                        <ul class="apo-entry-categories">
                            <li> <a href='{{post.get_absolute_url}}'>{{post.title}}</a></li>
                        </ul>
                        <h2 class="apo-entry-title"><a href="#">{{post.body|truncatewords:10|linebreaks}}</a>
                        </h2>
                    </header>
                    <footer class="apo-entry-footer">
                        <time datetime="2016-12-24" class="apo-entry-publish-date">At
                            {{post.publish}}</time>
                    </footer>
                </div>
            </div>
        </div>
    </article>
    <!-- End Article-->
    {% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}






{% endfor %}
{% endblock blogposts %}