{% extends 'blog/base.html' %}

{% block blogposts %}
<!-- this is the inner loop for the blogposts -->

{% for post in posts%}

{% if forloop.first or forloop.counter0|divisibleby:1%}
<div class="apo-item apo-motivation">
    {% endif %}
    <!-- THESE ARE THE ARTICLES/BLOGPOSTS -->
    <!-- Article-->
    <article class="apo-entry">
        <div class="apo-entry-media">
        </div>
        <div class="apo-entry-content-wrap">
            <div class="apo-aligner-outer">
                <div class="apo-aligner-inner apo-same-height">
                    <header class="apo-entry-header">
                        <ul class="apo-entry-categories">
                            <li> <a href='{{post.get_absolute_url}}'>{{post.title}}</a></li>
                        </ul>
                        <h2 class="apo-entry-title"><a href="#">{{post.body|truncatewords:10|linebreaks}}</a>
                        </h2>
                    </header>
                    <footer class="apo-entry-footer">
                        <time datetime="2016-12-24" class="apo-entry-publish-date">At
                            {{post.publish}}</time>
                    </footer>
                </div>
            </div>
        </div>
    </article>
    <!-- End Article-->
    {% if forloop.counter|divisibleby:1 or forloop.last %}
</div>
{% endif %}

{% endfor %}
<!-- end of the inner loop -->

{% endblock blogposts %}

<!-- career pan -->
{% block career_page %}

{% for c in company%}

{% if forloop.first or forloop.counter0|divisibleby:1%}
<div class="apo-experience-list apo-style-2">
    {% endif %}
    <article class="apo-experience-list-item">
        <header class="apo-experience-list-item-header"><em class="apo-experience-list-item-period">{{c.from_year}}
                &mdash; <span>{{c.company_name}}</span></em>
            <h2 class="apo-experience-list-item-title">Product Designer &amp; Photographer</h2>
        </header>
        <div class="apo-experience-list-item-body">
            <p>{{c.summary|truncatewords:50|linebreaks}}</p>
        </div>
    </article>
    {% if forloop.counter|divisibleby:1 or forloop.last %}
</div>
{% endif %}

{% endfor %}
{% endblock career_page %}