{% extends 'blog/post/post_base.html' %}
{% load blog_tags %}
{% load static %}


{% block pagetitle %}
Post homepage
{% endblock pagetitle %}

{% block page-nav-path %}
<li>Posts</li>
{% endblock page-nav-path %}


{% block middle-content %}
{% for post in posts %}

{% if forloop.first or forloop.counter0|divisibleby:1%}
<div class="apo-item apo-travel">
    {% endif %}

    <article class="apo-entry">
        <div class="apo-entry-inner">
            <!-- <div class="apo-entry-media"><a href="#"><img src='{% static "images/img-154-dark.jpg" %}' alt="" /></a>
            </div> -->
            <div class="apo-entry-content-wrap">
                <div class="apo-aligner-outer">
                    <div class="apo-aligner-inner">
                        <header class="apo-entry-header">
                            <ul class="apo-entry-categories">
                                {% for tag in post.tags.all %}
                                <li><a href="{% url 'blog:tagged' tag.slug %}"> {{ tag.name }}</a>
                                </li>
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}

                            </ul>

                            <h2 class=" apo-entry-title">
                                <a href="{{ post.get_absolute_url }}">{{post.title}}</a>

                            </h2>

                        </header>
                        <!-- <p>{{post.body}}</p> -->
                        <!-- <footer class="apo-entry-footer">
                            <time datetime="2016-12-24" class="apo-entry-publish-date">{{post.publish}}</time>
                        </footer> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% if forloop.counter|divisibleby:1 or forloop.last %}
</div>
{% endif %}

{% endfor %}
{% endblock middle-content %}

{% block rem-content %}
{% include 'blog/post/pagination.html' with page=posts %}
<!-- latest posts -->
<div class="col-md-6">
    {% show_latest_posts 3 %}
</div>

<!-- end of latest posts -->
<!-- start of most commented posts -->
<div class="col-md-6">

    <div class="apo-section-main-action apo-btn" id="work module">
        Most commented posts
    </div>

    <div style="padding-top: 20px;">
        {% most_commented as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- end of most commented -->
{% endblock rem-content %}