<div class="apo-item apo-motivation">
    <!-- Article-->
    <article class="apo-project">
        <div class="apo-project-media">

        </div>

        <div class="apo-project-content-wrap">
            <div class="apo-aligner-inner">
                <header class="apo-project-header">
                    <ul class="apo-project-categories">
                        <li><a href="#">Web Design</a></li>
                    </ul>
                    <h2 class="apo-project-title"><a href="portfolio_single_post.html">Stories Collective</a>
                    </h2>
                </header>
                <div class="apo-project-content">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
            </div>

        </div>
        <!-- <img src='{% static "images/img-154.jpg"%}' alt="" /> -->
        <!-- <div class="apo-project-content-wrap apo-project-media"> -->
        <!-- <img src='{% static "images/img-154.jpg"%}' alt="" /> -->
        <!-- <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                    <header class="apo-project-header">
                        <ul class="apo-project-categories">
                            <li><a href="#">Web Design</a></li>
                        </ul>
                        <h2 class="apo-project-title"><a href="portfolio_single_post.html">Stories Collective</a>
                        </h2>
                    </header>
                    <div class="apo-project-content">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
                </div>
            </div> -->
        <!-- </div> -->
    </article>
</div>
<div class="apo-item apo-web-design">
    <!-- Article-->
    <article class="apo-project">
        <div class="apo-project-media">
            <img src='{% static "images/img-154.jpg"%}' alt="" />
        </div>
        <div class="apo-project-content-wrap">
            <div class="apo-aligner-outer">
                <div class="apo-aligner-inner">
                    <header class="apo-project-header">
                        <ul class="apo-project-categories">
                            <li><a href="#">Web Design</a></li>
                        </ul>
                        <h2 class="apo-project-title"><a href="portfolio_single_post.html">Hand Decor</a></h2>
                    </header>
                    <div class="apo-project-content">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor incididunt ut labore.</div>
                </div>
            </div>
        </div>
    </article>
</div>