<!-- Sidebar-->
<aside id="sidebar" class="apo-sidebar col-sm-4">
    <div class="apo-widget-area">
        <!-- Widget-->
        {% block sidebar %}
        <section class="apo-widget apo-widget-popular-entries">
            <h2 class="apo-widget-title">{% block sidebar-title %} sidebartitle
                {% endblock sidebar-title %}
            </h2>
            {% block sidebar-post %}
            <div class="apo-entries-container">

                <div class="apo-item">

                    <article class="apo-entry">

                        <header class="apo-entry-header">
                            <ul class="apo-entry-categories">
                                <li><a href="#">{% block side-post-tag %}sample tag{% endblock side-post-tag %}</a>
                                </li>
                            </ul>
                            <h2 class="apo-entry-title">
                                <a href="#">{% block side-post-title %} sample title {% endblock side-post-title %}</a>
                            </h2>
                            <p>
                                {% block side-post-body %}
                                Another common need is to filter down the objects given in a list page by some key in
                                the URL. Earlier we hard-coded the publisher’s name in the URLconf, but what if we
                                wanted to write a view that displayed all the books by some arbitrary publisher?

                                {% endblock side-post-body %}

                            </p>
                        </header>
                        <footer class="apo-entry-footer">
                            <time datetime="2017-12-24" class="apo-entry-publish-date">
                                {% block side-post-date %}

                                {% endblock side-post-date %}
                            </time>
                        </footer>
                    </article>

                </div>

            </div>

            {% endblock sidebar-post %}
        </section>
        {% endblock sidebar %}
        <!-- End Widget-->



    </div>
</aside>
<!-- End Sidebar-->