<article class="apo-experience-list-item">
    <div>
        {% for s in all_skills %}
        <div class="svg-wrapper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
                <div id="text"><span class="spot">{{s}}</span></div>
            </svg>
        </div>
        {% endfor %}


        <!-- rainbow effect -->
        <!-- <a id="rainbow" href="#">Data Structure & Algo</a>
             <a id="rainbow" href="#">Python</a> -->
        <!-- end of rainbow effect -->
    </div>

</article>



<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>DEAD PART >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
{% block about_me_2 %}

{% for c in first_two_company%}

{% if forloop.first or forloop.counter0|divisibleby:2%}
<div class="apo-experience-list apo-style-2">
    {% endif %}
    <article class="apo-experience-list-item">
        <header class="apo-experience-list-item-header">
            <em class="apo-experience-list-item-period">{{c.from_year}}
                &mdash; {{c.to_year}}
                <br>
                <span style="font-size: 16px; color: #b7956c; ">{{c.company_name}}</span>
            </em>
            <h2 class=" apo-experience-list-item-title">{{c.role}}</h2>
        </header>
        <div class="apo-experience-list-item-body">
            <p>{{c.summary|truncatewords:50|linebreaks}}</p>
        </div>
    </article>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
</div>
{% endif %}

{% endfor %}
{% endblock about_me_2 %}